/* Generics */

body {
    font-family: 'Roboto' , sans-serif;
}

.container {
    display: flex;
}

.container * {
    padding: 5px 0;
}

.btn {
    border-radius: 20px;
    padding: 10px 20px;
    cursor: pointer;
    text-decoration: none;
}

.wave {
    background-color: #F6F6F6;
}


/* Header */

header {
    background-color: #3161E0;
    padding: 15px 0;
}

header > .container {
    align-items: center;
}

.logo {
    padding-left: 5px;
}

.logo > img {
    height: 60px;
}

.container > nav {
    flex-grow: 1;
    text-align: center;
}

nav > a {
    color: white;
    text-decoration: none;
    font-size: 20px;
    margin: 10px;
}

.btn.login {
    text-align: right;
    font-size: 18px;
    background-color: #fff;
}

/* Main */

main > section {
    padding: 30px 0;
}

/* Main - First Section */

.bg_blue {
    background-image: url(../img/jumbo.png);
    background-size: cover;
}

.bg_blue  .content {
    width: 60%;
    min-height: 400px;
    margin: 0 auto;
    color: #fff;
    text-align: center;
    padding-top: 60px;
}

.bg_blue .content > h1 {
    font-size: 60px;
    font-weight: bold;
    margin-bottom: 15px;
}

main p {
    font-size: 22px;
}

.bg_blue .btn {
    margin: 20px;
}

.btn.download {
    font-size: 22px;
    background-color: #fff;
}

.btn.browser {
    font-size: 22px;
    color: #fff;
    background-color: #000;
}

.btn.download::before {
    display: inline-block;
    content: '\1F817';
    font-size: 24px;
    padding-right: 5px;
}

/* Main - Second Section */

.bg_white {
    background-color: #fff;
}

main .main-col {
    width: 60%;
    min-height: 400px;
}

main .side-col {
    width: 40%;
    margin-top: 30px;
}

.side-col > h2 {
    font-size: 50px;
    font-weight: bold;
    margin-bottom: 20px;
}

/* Main - Third Section */

.bg_grey {
	background-color: #F6F6F6;
}

/* Main - Fifth Section */

.bg_grey  .content {
    width: 100%;
    min-height: 800px;
    text-align: center;
}

.content-title {
    font-size: 50px;
    font-weight: bold;
    margin-bottom: 20px;
}

#content-image {
    width: 100%;
}

.stars {
    padding: 0;
}

.content-bottom {
    font-size: 30px;
    font-weight: bold;
    padding-top: 0;
    margin-bottom: 36px;
}

.bg_grey .content > .btn.download {
    background-color: #8EA1E1;
    color: #fff;
}

/* Footer */

footer {
    background-color: #23272A;
    padding: 10px 0 0 0;
}

/* Footer - First Section */

.footer-upper {
    padding-bottom: 30px;
    margin-top: 50px;
}

.footer-upper > .container {
    border-bottom: 2px solid #6F86D4;
}

footer .left-col {
    width: calc(100% / 3);
    min-height: 500px;
}

.footer-title {
    color: #6F86D4;
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 20px;
}

#logo-language {
    height: 15px;
    padding: 0;
}

.left-col > select {
    padding: 0 2px;
    color: #fff;
    background-color: #23272A;
    border: none;
}

.icons {
    color: #fff;
    font-size: 22px;
    margin-top: 20px;
}

.icons > i {
    padding: 0 20px 0 0;
}

footer .right-col {
    width: calc(100% / 3*2);
    min-height: 500px;
    display: flex;
    padding: 0;
}

.right-col > .list-col {
    width: 25%;
}

.list-col > h4 {
    color: #6F86D4;
    font-size: 20px;
    font-weight: bold;
}

.list-col  li > a {
    text-decoration: none;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
}

/* Footer - Second Section */

.footer-bottom .box {
    width: 100%;
    height: 80px;
    margin-bottom: 50px;
    border: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.btn.sign-up {
    background-color: #8EA1E1;
    color: #fff;
    font-size: 18px;
}





